* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
}
h3{font-size: 15px;}
.topnav {
    overflow: hidden;
    background-color: #075E54;
    offset: 2px;
}

.logo {
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 130px;
    height: 100px;
    padding: 8px;
    margin-right: 30px;
    margin-left: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #1c1d20;
    color: white;
}

.topnav .icon {
    display: none;
}

.content {
    color: #ddd;
}

.responsive {
    width: 100%;
    height: auto;
}
/* cards layout, */
/* Float four columns side by side */

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
    padding-left: 5px;
}
/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

@media screen and (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: left;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        flex-direction: column;
    }
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}